<h2>Sign Up</h2>
<form>
  <div class="row">
    <div class="col-md-6">
      <label>User Name</label>
      <input type="text" class="form-control" [(ngModel)]="userName" name="UserName" />
      <label>Password</label>
      <input type="password" class="form-control" [(ngModel)]="password" name="Password" />
      <label >Role</label>
      <table>
        <tr>
         <input type="radio" [(ngModel)]="RoleID" name="RoleID" value=1/>Admin
        </tr>
        <tr>
          <input type="radio" [(ngModel)]="RoleID" name="RoleID" value=2/>Manager
        </tr>
      </table>
      <div *ngIf="RoleID==='1'">
        <label>Tavern Name</label>
        <input type="text" class="form-control" [(ngModel)]="TavernName" name="TavernName" />
      </div>
      <div *ngIf="RoleID==='2'">
          <label>Tavern Name</label>
          <br>
          <select [(ngModel)]="TavernId" name="TavernId">
              <option *ngFor="let tavern of taverns" value="{{tavern.ID}}" name="TavernId">{{tavern.TavernName}}</option>
          </select>
      </div>
    </div>
    <div class="col-md-6"></div>
  </div>
  <br />
  <div class="row">
    <div class="col-md-4">
      <button type="submit" class="btn btn-primary btn-margin" (click)="signup()">
        Submit
      </button>
      <button class="btn btn-primary btn-margin" routerLink="/login">
        Cancel
      </button>
    </div>
  </div>
</form>